.certificate-info {
    display: grid;
    padding: 0;
    padding-top: 10px;
    box-sizing: border-box;
    row-gap: 15px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.cert-imgs {
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
    overflow-x: auto;
}

.cert-imgs > img {
    height: auto;
    width: 200px;
    border-radius: 50%;
    transition: all .3s ease;
    place-self: center;
}

.cert-imgs > img:hover {
    border-radius: 4px;
    opacity: .9;
}

.tour-container > *:nth-child(1) {
    color: #666666;
}

.tour-container > *:nth-child(1) .article-title, .tour-container > *:nth-child(1) h1, .title-black {
    color: #000000 !important;
}

.tour-container > .white {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 0 15px 0px 0px;
    overflow: hidden;
}

.tour-container > .white .tour-image {
    border-radius: 0;
}

.certificate-info > h3 {
    color: #000000;
    text-align: center;
}


.tour-container > .white .article-subtitle {
    padding: 0 10px;
}

.tour-container > .white .article-title {
    padding: 0 10px;
}

.include-text {
    padding: 0 10px;
}

.bg-imgs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.bg-imgs > * {
    width: auto;
    height: calc(100% + 50px);
    position: relative;
    opacity: 1;
    transition: all .5s cubic-bezier(1, -0.18, 0.97, 1.57);
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
}

.certificate-info > *:not(.bg-imgs) {
    z-index: 1;
}

.certificate-info > p {
    padding: 10px;
    margin: 0;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    color: #ffffff;
}

.press-hidden {
    opacity: .8;
    visibility: hidden;
}

.certs {
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    column-gap: 10px;
    place-content: center;
    background: rgba(71, 151, 136, 1);
}

.certs > img {
    width: 100px;
    height: auto;
    border-radius: 50%;
}



.collaborators {
    /* padding: 10px; */
    background-color: rgba(255,255,255, 1);
    border-radius: 4px;
    color: var(--default-color);
}

.collaborators > h3 {
    color: orange;
    margin: 0;
    padding: 10px;
    text-align: left;
}

.collaborators > div {
    display: grid;
}

.collaborators .coll-item:hover {
    color: var(--default-color-hv);
    background-color: #e6f7ff;
    width: calc(100% + 2px);
    box-sizing: border-box;
    border-right: 2px solid var(--primary-bg);
}

.collaborators .coll-item {
    margin: 0;
    padding: 10px;
    cursor: default;
    font-size: 16px;
}

.info-body {
    height: -webkit-fill-available;
    margin: 0;
    border-radius: 0px;
}

.info-box {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    bottom: 0;
    z-index: 199;
    /* max-width: 450px; */
    transition: all .3s ease-in-out;
}

.info-body > .mobile-only {
    position: absolute;
    left: -40px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    place-items: center;
    display: none;
    background: #f6a41f;
    color: #fff;
    border-radius: 4px 0px 0px 4px;
}

.info-box .tour-detail {
    height: -webkit-fill-available;
    overflow: auto;
}

.coll-item > p {
    color: #000000;
    font-weight: bold;
}

.coll-item > span {
    font-style: italic;
}

@media (max-width: 991px) {
    .info-body > .mobile-only {
        display: grid !important;
    }

    .info-box{
        position: fixed;
        top: 51px;
        transform: translate(100%);
        bottom: 15px ;
        display: block !important;
    }
    .info-box.toggled {
        transform: translate(calc(0% + 40px));
        right: -5px;
    }

    .info-box.toggled .tour-detail {
        padding-right: 45px;
    }

    .info-box.toggled + .info-wrapper::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 180;
        background-color: rgba(0, 0, 0, .5);
    }
}