Options +IncludesNoExec
AddType text/html .shtml
AddOutputFilter INCLUDES .shtml

DirectoryIndex index.shtml index.html index.htm index.php

AddCharset UTF-8 .shtml
<FilesMatch "\.(jpg|png|gif|swf|js|flv)$">
Header set Cache-Control "max-age=604800, public"
</FilesMatch>
# block visitors referred from semalt.com
RewriteEngine on
RewriteCond %{HTTP_REFERER} semalt\.com [NC]
RewriteRule .* - [F]