#reservemodal { position:fixed; top:0; left:0; width:100%; height:100%; z-index:-1; opacity:0; background-color: rgba(0,0,0,0.85); }

#reservemodal > div { font-family:sans-serif; width:366px; margin-top:120px; margin-left:auto; margin-right:auto;
    border:4px solid #023; border-radius:12px; background-color:rgba(255,255,255,0.85); text-align:center;
    padding:12px; padding-top:120px; padding-bottom:120px; display:none;


    -webkit-transition: opacity .2s ease-in-out; transition: opacity .2s ease-in-out;
}

#reservemodal > form { display:none; font-family:sans-serif; width:366px; margin-top:120px; margin-left:auto; margin-right:auto;
    padding:12px; border:4px solid #023; border-radius:12px;
    background: rgb(189,249,142); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjYmRmOThlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDQlIiBzdG9wLWNvbG9yPSIjYzNkODI1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NlOGEwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(45deg,  rgba(189,249,142,1) 1%, rgba(195,216,37,1) 44%, rgba(206,138,12,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,rgba(189,249,142,1)), color-stop(44%,rgba(195,216,37,1)), color-stop(100%,rgba(206,138,12,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(189,249,142,1) 1%,rgba(195,216,37,1) 44%,rgba(206,138,12,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(189,249,142,1) 1%,rgba(195,216,37,1) 44%,rgba(206,138,12,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(189,249,142,1) 1%,rgba(195,216,37,1) 44%,rgba(206,138,12,1) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(189,249,142,1) 1%,rgba(195,216,37,1) 44%,rgba(206,138,12,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdf98e', endColorstr='#ce8a0c',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

    -webkit-transition: opacity .2s ease-in-out; transition: opacity .2s ease-in-out;

}


#reservemodal.paypage { opacity:1; z-index:10000; }
#reservemodal.paypage > div.paypage { display:block; width:660px; overflow:hidden; margin-top:60px;  padding-top:8px; text-align:left; }
div.paypage >h1 { width:668px; margin:0; margin-left:-12px; margin-top:-12px; color:#fff; background-color:#023;
padding:8px; padding-top:4px; padding-bottom:4px; height:40px; border-radius:12px 12px 0 0; }
div.paypage  h2,h3 { margin:0; }
div.paypage h2 { margin-top:8px;}
div.paypage p { margin-top:0; }
div.paypage .paywithpal { float:right; }
div.paypage > div { height:400px; margin-bottom:0; overflow-y:scroll; margin-top:0; }
#reservemodal.paypage > div.paypage { padding-bottom:0px; padding-right:0; padding-bottom:34px; }

div.paypage > div::-webkit-scrollbar { width: 8px; }

div.paypage > div::-webkit-scrollbar-thumb {
	border-radius: 10px 0 0 10px; background-color:#023; }
    
div.paypage  button.paywithpaypal { float:right; width:180px; height:53px; margin:26px; margin-left:0; padding:0; background-image: url('/g/paypal1.jpg'); border-radius:4px; border-color:#025fad; 
cursor:pointer;

}

div.paypage a.paywithvisa { width:180px; height:53px; margin:26px; padding:0; margin-left:0;float:right; border-radius:4px; border-width:2px; border-style:outset; border-color:#025fad; 
cursor:pointer; background-image:url('/g/payvisa1.jpg'); clear:right; }

div.paypage .visainstructions { margin-top:34px; margin-left:172px; width:424px; }

#reservemodal button { cursor:pointer; }

#reservemodal button.paybutton { background-color:orange; font-size:14pt; border-radius:16px;
    padding:4px; padding-left:12px; padding-right:12px; font-weight:bold; border-width:2px; border-color:orangered; }



#reservemodal > form.cartSummary { width:660px; margin-top:80px; }
#reservemodal > form.cartSummary > table { width:100%; font-size:11pt; }
#reservemodal > form.cartSummary > table > thead > tr { color:#fff; background-color:#023; }
form.cartSummary tbody td:nth-child(2) { width:112px; text-align:center; }
form.cartSummary tbody td:nth-child(3) { text-align:right; width:36px;}
form.cartSummary tbody td:nth-child(4) { text-align:right; width:70px;}
form.cartSummary tbody td:nth-child(5) { text-align:right; width:70px;}
form.cartSummary tbody td:nth-child(6) { text-align:right; width:70px; font-weight:bold;}
form.cartSummary tbody td:nth-child(7) { width:60px; text-align:center; }
form.cartSummary tbody td > button { font-size:8pt; border-radius:5px; margin:2px; }
form.cartSummary tfoot td:nth-child(1) { text-align:right; font-weight:bold; }
form.cartSummary tfoot td:nth-child(2) { text-align:right; font-weight:bold; }
form.cartSummary .controls { text-align:right; }
form.cartSummary .controls > button { border-radius:5px; }
form.cartSummary .cartSummaryHeader > div.field { float:left; font-size:15pt; padding-left:4px; margin-bottom:4px; }
form.cartSummary .cartSummaryHeader > div.field > label { float:left; display:block; width:6ex; line-height:24pt; text-align:right; }
form.cartSummary .cartSummaryHeader > div.field > input { font-size:15pt; display:block; width:11em; float:left;}
form.cartSummary .cartSummaryHeader > div.field > input[type=email] { width:14em;}
form.cartSummary > h1 { width:668px; font-size:19pt; margin:0; margin-left:-12px; margin-top:-12px; margin-bottom:8px;  color:#fff; background-color:#023;
padding:8px; padding-top:4px; padding-bottom:4px; height:33px; border-radius:6px 6px 0 0; }


#reservemodal.show { opacity:1; z-index:10000; }
#reservemodal.show > form { display:block; }

#reservemodal.AddItem { opacity:1; z-index:10000; }
#reservemodal.AddItem > form.AddItem { display:block; }

#reservemodal.NewReservation { opacity:1; z-index:10000; }
#reservemodal.NewReservation > form.NewReservation { display:block; }


#reservemodal.cartLogin { opacity:1; z-index:10000; }
#reservemodal.cartLogin > form.cartLogin { display:block; text-align:center; padding-top:20px; padding-bottom:40px; }
#reservemodal.cartLogin > form > input { padding-left:8px; margin-top:6px;  font-size:14pt; width:356px;  }
#reservemodal.cartLogin > form > button { padding-left:8px; margin-top:6px;  font-size:14pt;  }


#reservemodal.sendingpaypal { opacity:1; z-index:10000; }
#reservemodal.sendingpaypal > div.sendingpaypal { display:block; padding-top:40px; padding-bottom:40px; }

#reservemodal.processing { opacity:1; z-index:10000; }
#reservemodal.processing > div.processingMsg { display:block; }

#reservemodal.processed { opacity:1; z-index:10000; }
#reservemodal.processed > div.processedMsg { display:block; padding-top:40px; padding-bottom:40px; }

#reservemodal.error { opacity:1; z-index:10000; }
#reservemodal.error > div.errorMsg { display:block; padding-top:40px; padding-bottom:40px; }

#reservemodal.finalizeError { opacity:1; z-index:10000;}
#reservemodal.finalizeError > div.finalizeError { display:block; padding-top:40px; padding-bottom:40px; }

#reservemodal.finalizing { opacity:1; z-index:10000;}
#reservemodal.finalizing > div.finalizing { display:block; padding-top:40px; padding-bottom:40px; }

#reservemodal.cancelError { opacity:1; z-index:10000;}
#reservemodal.cancelError > div.finalizeError { display:block; padding-top:40px; padding-bottom:40px; }

#reservemodal.canceling { opacity:1; z-index:10000;}
#reservemodal.canceling > div.canceling { display:block; padding-top:40px; padding-bottom:40px; }


#reservemodal.showCart { opacity:1; z-index:10000; }
#reservemodal.showCart > form.cartSummary { display:block; }

#reservemodal.draftFinalized { opacity:1; z-index:10000; }
#reservemodal.draftFinalized > div.draftFinalized { display:block; padding-top:40px; padding-bottom:40px; }

#reservemodal.draftCanceled { opacity:1; z-index:10000; }
#reservemodal.draftCanceled > div.draftCanceled { display:block; padding-top:40px; padding-bottom:40px; }

#reservemodal.gettingReservation { opacity:1; z-index:10000; }
#reservemodal.gettingReservation > div.gettingReservation { display:block; padding-top:40px; padding-bottom:40px; }


#reservemodal .reservePriceEl { margin-right:-64px; margin-top:-36px; float:right; padding:8px; padding-top:16px; padding-bottom:16px;
    text-align:center; border-radius:32px; background-color: orange; }
#reservemodal .reservePriceEl > span:first-child { font-size:20pt; line-height:20pt; font-weight:bold; }
#reservemodal .reservePriceEl > span:first-child:before { content:"$"; }
/*#reservemodal .reservePriceEl > span:first-child:after { content:".00"; }*/

#reservemodal .reservePriceEl > span:last-child { display:block; font-size:10pt; line-height:9pt; }
#reservemodal .reservePriceEl > span:last-child:before { content:"per "; }
#reservemodal .reservePriceEl > span.es:last-child:before { content:"por "; }
#reservemodal .reserveTitleEl { font-size:20pt; font-weight:bold; }

#reservemodal .reserveSummaryEl { font-size:12pt; font-weight:bold; padding-bottom:6px; margin-bottom:6px; border-bottom:1px solid #000; }

#reservemodal .reserveQty { font-size:9pt; float:right;  }
#reservemodal .reserveQty > input { border:none; font-size:14pt; width:5.5em; margin-right:4px; padding-right:4px; text-align:center; }

#reservemodal .reserveDate { font-size:9pt; }
#reservemodal .reserveDate > input { border:none; font-size:12pt; text-align: center; }

#reservemodal .reserveClientName > input { padding-left:8px; margin-top:6px;  font-size:14pt; width:356px; border:none; }

#reservemodal .reserveEmail > input { padding-left:8px; margin-top:6px;  font-size:14pt; width:356px; border:none; }

#reservemodal .reserveNotes > textarea { padding-left:8px; margin-top:6px; padding-right:8px; font-size:14pt; height:84px;
    width:348px; border:none; font-family:sans-serif; }

#reservemodal .reserveSubmit { background-color:orange; float:right; font-size:14pt; border-radius:16px;
    padding:4px; padding-left:8px; padding-right:8px; font-weight:bold; border-width:2px; border-color:orangered; }

#reservemodal .reserveClose { background-color:orange; font-size:14pt; border-radius:16px;
    padding:4px; padding-left:12px; padding-right:12px; font-weight:bold; border-width:2px; border-color:orangered; }

.reserveit { text-align:center; }
.reserveit > button { background-color:orange; font-size:14pt; border-radius:16px;

    padding:4px; padding-left:12px; padding-right:12px; font-weight:bold; border-width:2px; border-color:orangered; }



#paymentoptions { position:absolute; top:153px; right:12px; width:180px;  }