.slideshow {  background-color:orange; position:relative; border-radius:12px;

               /*overflow:hidden;*/ 

 }

.slideshow h1 {  font:26px/28px 'JungleFeverRegular',sans-serif; filter:alpha(opacity=20); opacity:0.2; -moz-opacity:0.2; -khtml-opacity:0.2; text-align:center;  }
.slideshow a.ssheader { display:block; -webkit-transition: -webkit-transform .2s ease-in-out; transition: transform .2s ease-in-out; text-decoration:none; font:26px/28px 'JungleFeverRegular',sans-serif; filter:alpha(opacity=20); opacity:0.2; -moz-opacity:0.2; -khtml-opacity:0.2; text-align:center;  }
.slideshow a.ssheader:hover { -webkit-transform: scale(1.05); transform: scale(1.05);  }

.slide { display:block; position:absolute; top:28px; height:296px; overflow:hidden; background-color:orange; /*visibility:hidden;*/ }

a.slide { text-decoration:none; }
a.slide > img { -webkit-transition: -webkit-transform .2s ease-in-out; transition: transform .2s ease-in-out; }
a.slide:hover > img {  -webkit-transform: scale(1.15); transform: scale(1.15); }

.slide img { display:block; border:0px; }

.slide object { display:block; border:0px; }

.slide h2 { text-decoration:none; background-color:transparent; position:relative; font-family:sans-serif; top:-24px; font-size:14pt; color:#FFF; margin-left:4px; text-transform:uppercase; text-shadow: #000 2px 2px 0.25ex; /*filter:shadow(color=#000,direction=135,strength=1);*/}

.slide p { text-decoration:none; position:relative; top:-34px; font-size:13pt; line-height:19px; text-align:justify; margin-right:4px; margin-left:4px; color:#FFF; }


.slideshow.small > .slide p { display:none; }


.slideshow.small > .slide { height:170px; }



/* customizations */

.slideshow { width:304px; height:324px; margin-top:4px; margin-left:4px; margin-right:0px; float:left;}

.slide img { width:304px; height:171px; }



.slideshow.small { height:197px; }