.ch { color:#019458; } .cl { color:#3D1300; }

@font-face { font-family:'JungleFeverRegular'; src:url('/JungleFever.eot'); src:local('JungleFever'), local('JungleFever'), url('/JungleFever.woff') format('woff'), url('/JungleFever.ttf') format('truetype'), url('/JungleFever.svg#JungleFever') format('svg'); }

body 
{
margin:0px; 
   
background: rgb(230,239,47); 
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZTZlZjJmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTglIiBzdG9wLWNvbG9yPSIjYThkODBhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMzklIiBzdG9wLWNvbG9yPSIjYjVhZjEwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzclIiBzdG9wLWNvbG9yPSIjNDc0NzAzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTclIiBzdG9wLWNvbG9yPSIjMTk0NDAzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(-45deg,  rgba(230,239,47,1) 0%, rgba(168,216,10,1) 18%, rgba(181,175,16,1) 39%, rgba(71,71,3,1) 77%, rgba(25,68,3,1) 97%); 
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(230,239,47,1)), color-stop(18%,rgba(168,216,10,1)), color-stop(39%,rgba(181,175,16,1)), color-stop(77%,rgba(71,71,3,1)), color-stop(97%,rgba(25,68,3,1))); 
background: -webkit-linear-gradient(-45deg,  rgba(230,239,47,1) 0%,rgba(168,216,10,1) 18%,rgba(181,175,16,1) 39%,rgba(71,71,3,1) 77%,rgba(25,68,3,1) 97%); 
background: -o-linear-gradient(-45deg,  rgba(230,239,47,1) 0%,rgba(168,216,10,1) 18%,rgba(181,175,16,1) 39%,rgba(71,71,3,1) 77%,rgba(25,68,3,1) 97%); 
background: -ms-linear-gradient(-45deg,  rgba(230,239,47,1) 0%,rgba(168,216,10,1) 18%,rgba(181,175,16,1) 39%,rgba(71,71,3,1) 77%,rgba(25,68,3,1) 97%);
background: linear-gradient(135deg,  rgba(230,239,47,1) 0%,rgba(168,216,10,1) 18%,rgba(181,175,16,1) 39%,rgba(71,71,3,1) 77%,rgba(25,68,3,1) 97%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ef2f', endColorstr='#194403',GradientType=1 ); 
}

h1,h2,h3,h4 { margin:0px; }

p { font-size:12pt; font-family:'Palatino Linotype' sans-serif; }

#page { width:930px; position:relative; background-color:rgba(255,255,255,0.25); margin-top:0px; margin-left:auto; margin-right:auto; padding-bottom:4px; margin-bottom:46px; }

#col2 { width:212px; padding-left:4px; padding-top:4px; position:absolute; top:262px; right:0px; }

#col2 > .slideshow { margin-bottom:4px;
-moz-border-radius-topright: 18px; -webkit-border-top-right-radius:18px; border-top-right-radius:18px;
-moz-border-radius-bottomright: 18px; -webkit-border-bottom-right-radius:18px; border-bottom-right-radius:18px;
}

#col2 > .slideshow.small > .slide img { -moz-border-radius-bottomright: 18px; -webkit-border-bottom-right-radius:18px; border-bottom-right-radius:18px; } 
#col2 .slide { -moz-border-radius-bottomright: 18px; -webkit-border-bottom-right-radius:18px; border-bottom-right-radius:18px; }

#pv { width:928px; height:238px; border:1px solid #2F1F01; position:relative; display:block; cursor:pointer; }
#pvPhoto { width:928px; height:238px; position:absolute; top:0px; left:0px; }

#logo { position:absolute; top:8px; z-index:100; left:-72px; }
#cara { position:absolute; bottom:0px; z-index:100; color:#FFF; font:61px/67px 'JungleFeverRegular',sans-serif; 
  filter:alpha(opacity=40); opacity:0.4; -moz-opacity:0.4; -khtml-opacity:0.4; right:8px; }

  

/*** Nav bar styles ***/

#header { background-color:#000; }
#header > menu, #header > menu > ul {  font-family:sans-serif; margin:0; padding:0; cursor:default; list-style-type:none; display:inline; font-size:14px; line-height:18px; font-weight:bold; z-index:100;}
#header > menu { display:table;  }
#header > menu > li { display:table-cell; position:relative; padding:2px 6px; 
padding-left:16px; padding-right:16px; margin:0; }
#header > menu > li > a { font-family:JungleFeverRegular; font-size:14pt; color: #f58220; text-decoration:none; }
#header > menu > li > ul { opacity:0; display:block; z-index:-1; position: absolute; margin:0; margin-top:2px; padding-bottom:12px;
   border-bottom:1px solid #000; border-left:1px solid #000; border-right:1px solid #000;
    width: 700px; border-radius: 0 0 16px 16px; padding-left: 0;
    
   -webkit-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;

background: rgb(189,249,142); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjYmRmOThlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDQlIiBzdG9wLWNvbG9yPSIjYzNkODI1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NlOGEwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(45deg,  rgba(189,249,142,1) 1%, rgba(195,216,37,1) 44%, rgba(206,138,12,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,rgba(189,249,142,1)), color-stop(44%,rgba(195,216,37,1)), color-stop(100%,rgba(206,138,12,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(189,249,142,1) 1%,rgba(195,216,37,1) 44%,rgba(206,138,12,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(189,249,142,1) 1%,rgba(195,216,37,1) 44%,rgba(206,138,12,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(189,249,142,1) 1%,rgba(195,216,37,1) 44%,rgba(206,138,12,1) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(189,249,142,1) 1%,rgba(195,216,37,1) 44%,rgba(206,138,12,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdf98e', endColorstr='#ce8a0c',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
 
   }
#header > menu > li > ul > li { display:block;  float:left;  /* width: 800px; */ position: relative;}
#header > menu > li:hover > ul { opacity:1; display:block; z-index:100; }

#header > menu a {
text-decoration:none;
}

#header > menu a>span.subtext { font-size:8pt; color:#000; margin:0; margin-left:12px; padding:0; display:block; }

.langSelect { float:right; }
.langSelect > a { color:#fff; padding-right:6px; padding-left:6px; text-decoration:none; font-size:9pt; text-transform:capitalize; font-style:italic;
    -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out;   }
.langSelect > a:hover { color:orange; -webkit-transform: scale(1.15); transform: scale(1.15); }

#header > menu > { }
#header > menu > li > ul > li  ul { padding-left:8px;   }
#header > menu > li > ul > li { margin-left:16px; margin-top:12px; border-right:1px solid #000; padding-right:12px; }
#header > menu > li > ul > li > ul { margin-left:30px;  }
#header > menu > li > ul > li:last-child { border:0; }
#header > menu > li > ul > li > ul > li { margin-top:5px; margin-bottom:5px; }
#header > menu > li > ul > img { float:left; margin-left:-40px; width:200px }

/*
#header menu li > ul > li > ul { margin-left:32ex; width:32ex; margin-top:-22px; border-top:1px solid #369; }
#header menu li:hover > ul { display:block; }
#header menu ul li a { display: block; padding: 2px 10px; }
*/

/*** Menu colors (customizable) ***/
/*
#header menu { }
#header menu ul, #header menu ul li a { background-color: #fff;  color: #f58220; }
#header menu li:hover, #header menu ul li a:hover { background-color: #369; color: #fff; }
#header menu li a:hover { color:#fff; }
#header menu li:active, #header menu ul li a:active { background-color: #036; color: #fff; }
#header menu ul { border: 1px solid #369; border-top:none; }
#header menu a { text-decoration: none; }
*/

/*** sub menu ***/

.sub { width:304px; padding:8pt; float:right; margin:8pt; margin-right:-64px; border-radius:0 16pt 16pt 0; 
background: rgb(189,249,142); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjYmRmOThlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDQlIiBzdG9wLWNvbG9yPSIjYzNkODI1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NlOGEwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(45deg,  rgba(189,249,142,1) 1%, rgba(195,216,37,1) 44%, rgba(206,138,12,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,rgba(189,249,142,1)), color-stop(44%,rgba(195,216,37,1)), color-stop(100%,rgba(206,138,12,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(189,249,142,1) 1%,rgba(195,216,37,1) 44%,rgba(206,138,12,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(189,249,142,1) 1%,rgba(195,216,37,1) 44%,rgba(206,138,12,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(189,249,142,1) 1%,rgba(195,216,37,1) 44%,rgba(206,138,12,1) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(189,249,142,1) 1%,rgba(195,216,37,1) 44%,rgba(206,138,12,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdf98e', endColorstr='#ce8a0c',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
          }
menu.sub li { font-family:JungleFeverRegular; list-style-type:none; margin-bottom:4pt; font-size:13pt; list-style-image:url('/imgs/listarrow.gif'); }
menu.sub a { text-decoration:none; }
menu.sub a { color:#674300; }
menu.sub a:hover { color:#e1ed2c; text-shadow: 2px -2px #674300; }


/*** article global ***/
.article { margin-left:8px; margin-top:4px; padding:4px; padding-top:8px; padding-left:8px; clear:both; }
.article.lead { clear:none; }
.article.lead a.backtotop { display:none; }
.article h1,h2 { margin-left:4px; margin-right:4px; }
.article h1 {  font:36px/40px 'JungleFeverRegular',sans-serif;    }
.article h2 {font:20px; font-weight:bold; font-family:sans-serif; }
.article p { margin-left:4px; margin-right:4px; margin-top:8pt; } 
.article p.snippet { font-size:16pt; margin-top:0; margin-bottom:8pt;  }
.article .extended { font-size:14pt; margin-bottom:8pt;  }



.article > img { float:left; clear:left; margin-left:-64px; margin-right:12px; margin-top:2px; margin-bottom:0px; border-radius:24px 0 0 24px; }


.stub { border-bottom:1px solid orange; position:relative; width:690px; margin-bottom:18px; }
.stub > img { float:left; clear:left; margin-left:-64px; margin-right:12px; margin-top:2px; margin-bottom:0px; border-radius:24px 0 0 24px; }
.extended > img { float:left; clear:left;  margin-right:12px; margin-top:2px; margin-bottom:0px; border-radius:24px 0 0 24px; }
.stub  blockquote { float:right; margin-top:6pt; margin-left:12px; margin-right:-4px; margin-bottom:2pt;
  line-height:20pt; font-size:14pt; font-style:italic; width:172px; text-align:center;
  background-color:rgba(255,255,255,0.15); border-radius:12px; padding-left:8px; padding-right:8px;
  }
.stub .attribution { margin-top:0; font-size:9pt; font-family:sans-serif;  }
.stub  blockquote > span { text-align:right; margin-top:4px; font-style:normal; font-size:10pt; display:block;  line-height:12pt; }
.stub h1 {  font:36px/40px 'JungleFeverRegular',sans-serif;  }
.stub h2 {font:16px; font-weight:bold;}
.stub .more { font-family:sans-serif; float:right; position:absolute; bottom:-6px; right:-6px; font-size:8pt; font-weight:bold; text-decoration:none; border:1px solid orange; background-color:#FFF; color:orange; padding-left:4px; padding-right:4px; cursor:pointer; }

.stub > .fb-like { float:right; margin-right:-94px; }


.itinerary { border-bottom:1px solid orange; position:relative; margin-bottom:18px; }
.itinerary  > .extended > h1 { font:18pt sans-serif; }
.itinerary > .extended > ul { width:520px; }
.itinerary > .extended > ul > div { background-color:rgba(0,0,0,0.25); margin-bottom:6px; border-radius:24px 0 0 24px; padding:4px; padding-left:12px; margin-left:-36px; font-size:17pt; font-style:italic; font-weight:bold; color:rgba(255,255,255,0.5); }
.itinerary > .extended > ul > span { color:rgba(0,0,0,0.75); font-size:13pt; diplay:block; padding-bottom:8px; font-style:italic; }
.itinerary > .extended > ul > li { font-size:13pt; margin-bottom:8px;  }
.itinerary > .extended > ul > li > div { margin-left:24px; margin-right:24px; font-style:italic; }
.itinerary > .extended > img { float:right; clear:right; margin-top:16px; border-radius:0 24px 24px 0; }
.itinerary .more { font-family:sans-serif; float:right; position:absolute; bottom:-16px; right:24px; font-size:14pt; font-weight:bold; text-decoration:none; border:1px solid orange; background-color:#FFF; color:orange; border-radius:16px; padding:4px; padding-left:8px; padding-right:8px; cursor:pointer; }



table.schedule { margin-left:10px; margin-right:10px; margin-bottom:24px; font-family:sans-serif; width:430px; float:left; }
table.schedule th { background-color:rgba(0,0,0,0.5); color:rgba(255,255,255,0.5); text-align:left; padding:8px; }
table.schedule tr { border-bottom:1px solid rgba(0,0,0,0.5); }
table.schedule td { vertical-align: top; margin:0; border-bottom:1px solid rgba(0,0,0,0.5);  }
table.schedule td { padding:8px; }
table.schedule td:first-child { text-align:right; font-weight:bold; width:150px; }

a.more:hover { border:1px solid transparent; background-color:orange; color:#FFF; }
#background { width: 100%; height: 100%; position: fixed; left: 0px; top: 0px; z-index: -1;  } /* Ensure div tag stays behind content */
.stretch { width:100%; height:100%; }


a.ad { /* overflow:hidden; */ margin-bottom:4px; background-color:rgb(80,128,23); position:relative; text-decoration:none; 
-moz-border-radius-topright: 18px; -webkit-border-top-right-radius:18px; border-top-right-radius:18px;
-moz-border-radius-bottomright: 18px; -webkit-border-bottom-right-radius:18px; border-bottom-right-radius:18px;
display:block; position:absolute; right:-330px; width:304px;

background: -o-linear-gradient(-25deg, rgba(181,175,16,1) 0%,rgba(71,71,3,1) 77%,rgba(25,68,3,1) 97%);
background: -ms-linear-gradient(-25deg, rgba(181,175,16,1) 0%,rgba(71,71,3,1) 77%,rgba(25,68,3,1) 97%);
background: linear-gradient(165deg, rgba(181,175,16,1) 0%,rgba(71,71,3,1) 77%,rgba(25,68,3,1) 97%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ef2f', endColorstr='#194403',GradientType=1 );

}

a.ad > h1 {  font:18px/22px 'JungleFeverRegular',sans-serif; line-height:30px; color:#fff;
filter:alpha(opacity=85); opacity:0.85; -moz-opacity:0.85; -khtml-opacity:0.85;
text-align:center; text-shadow:4px 2px 2px #000;   }

a.ad img { border:none; -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
a.ad:hover img {  -webkit-transform: scale(1.1); transform: scale(1.1); }

a.ad > .adimg { width:304px; height:171px; overflow:hidden; }

a.ad > p { margin:4px;  z-index:2; font-family:sans-serif; font-size:11pt; line-height:20pt; color:rgba(255,255,255,0.85);
           text-shadow:1px 1px 3px #000; text-align:center;  }

a.ad > .pricepop { position:relative; z-index:10;  text-align:center; 
text-shadow:2px 2px 5px #000; width:304px; background-color:orange; box-shadow:0px 3px 16px #000;
left:-6px;  padding:6px; color:#fff; font-family:sans-serif;  }

a.ad > .pricepop > div { font-size:20pt; font-weight:bold; }
a.ad > .pricepop > span { display:block; font-size:11pt; }

/*** global styles ***/
.rounded {
-moz-border-radius-topleft:8px;
-webkit-border-top-left-radius:8px;
border-top-left-radius:8px;

-moz-border-radius-topright:8px;
-webkit-border-top-right-radius:8px;
border-top-right-radius:8px;

-moz-border-radius-bottomleft:8px;
-webkit-border-bottom-left-radius:8px;
border-bottom-left-radius:8px;

-moz-border-radius-bottomright:8px;
-webkit-border-bottom-right-radius:8px;
border-bottom-right-radius:8px;
}

.shadowed  {
-moz-box-shadow:5px 5px 8px #292929;
-webkit-box-shadow:5px 5px 8px #292929;
box-shadow:5px 5px 8px #292929;
}

#footer { 
background-color:rgba(0,0,0,0.9);
font-family:sans-serif;
color:#fff;
width:100%;
height:46px;
position:fixed;
bottom:0px;
z-index:1000;
}

#footerbox {
width:960px;
position:relative;
text-align:center;
margin:0;
margin-right:auto;
margin-left:auto;
}

#footerbox > menu { 
margin:0px;
font-size:11pt;
font-family:JungleFeverRegular;
display:block;
padding-top:6px;
margin-bottom:3px;
}

#footerbox > menu > li {
display:inline;
list-style-type:none;
margin-right:12px;
margin-left:12px;
}

#footerbox > menu > li:first-child { margin-left:0px; }
#footerbox > menu > li:last-child { margin-right:0px; }
#footerbox > menu > li > a { color:#f58220f; text-decoration:none; }
#footerbox > menu > li > a:hover { color:#f58220; }
#footerbox > menu > li > a:visited { color:#fff; }
#footerbox #copyright { color:#fff; margin:0;  font-size:8pt;  }

#homebtn {  color:#fff; font-size:11pt; font-family:JungleFeverRegular; text-decoration:none; position:absolute; text-align:center; top:-60px;right:-120px; }
#homebtn > img {  }

.tourinfo { width:304px; padding-left:8pt; padding-right:8pt; float:right; clear:right;
    margin:8pt; margin-right:-64px; border-radius:0 16pt 16pt 0; background-color:orange; background-color: #ffa809;  }
    
.tourinfo > p { margin-bottom:0; font-weight:bold; font-size:12pt; }

.tourinfo > p:first-of-type { font-size:13pt; font-weight:normal; font-family:JungleFeverRegular; color:#e1ed2c; text-shadow: 2px 2px #674300;  }

.tourinfo > ul { margin-top:0; font-size:10pt; font-weight:bold; font-family:sans-serif; color:#674300; }

a.backtotop { float:right; text-decoration:none; color:#000; } a.backtotop:hover { color:#674300; }

a
{
transition: color 0.2s ease, text-shadow 0.6s ease;
-moz-transition: color 0.2s ease, text-shadow 0.6s ease; /* Firefox 4 */
-webkit-transition: color 0.2s ease, text-shadow 0.6s ease; /* Safari and Chrome */
-o-transition: color 0.2s ease, text-shadow 0.6s ease; /* Opera */ 



}

#tapestry {  height:58px; position:absolute; width:100%; background-image:url('/g/tapestry.png'); background-position:top; background-repeat:repeat-x; margin:0px;  }

@media print
{

    #header { display:none; }
    #footer { display:none; }
    #col2 { display:none; }

}
