div#messageboard {
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.5)
}
div#messageboard #message-list {
    margin-top: 20px;
    margin-bottom: 20px
}
div#messageboard #message-list .message-title {
    margin: 1px 6px;
}
.message-area {
    color: rgba(255, 255, 255, 0.5);
    background: rgba(255,255,255,0.1);
    height: 60px;
    overflow-y: auto;
    overflow-wrap: break-word;
    margin: 0 15px;
    padding: 5px 5px
}