pretty-modal .modal-wrapper {
    max-width: 90vw !important;
}

.splash-ad img{
    width: 800px;
    max-width: 86vw;
    border-radius: 4px;
    border: 3px dashed #fff;
}

.splash-ad {
    position: relative;
    overflow: hidden;
}

.img-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .4);
    display: grid;
    grid-template-rows: 5em;
}

.img-wrapper > .splash-title {
    place-self: start end;
    padding-right: 15px;
    color: orange;
}

.best-seller {
    position: absolute;
    top: 18px;
    left: -29px;
    width: fit-content;
    padding: 5px 25px;
    background-color: orange;
    transform: rotate(-45deg);
    font-size: 16px;
}

.book-btn {
    place-self: end center;
    padding-bottom: 15px;
    width: 40%;
}

.book-btn > pretty-button[type="danger"] > button {
    background-color: orange;
    border-color: orange;
    width: -webkit-fill-available;
    font-size: 22px;

}

.book-btn > pretty-button[type="danger"] > button:hover {
    background-color: #ffbe47;
    border-color: #ffbe47;
}

.splash-description {
    place-self: start end;
    padding: 0 15px;
    font-size: 16px;
}