.tour-detail{
    width: 100%;
    padding: 20px;
}
.tour-info-title{
    font-size: 13pt;
    font-weight: normal;
    font-family: JungleFeverRegular;
    color: #e1ed2c;
    text-shadow: 2px 2px #674300;
}

.tour-detail ul{

}
.tour-detail ul li{
    font-size: 12px;
    color:#674300;
}
.tour-image{
    max-width: 300px;
    float: left;
    margin-right: 20px;

}

.tour-container{
    margin-bottom: 20px;
    text-align: justify;
}
.tour-info{
    min-height: 250px!important;
}
.tour-menu{
    background: rgb(189,249,142);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(45deg, rgba(189,249,142,1) 1%, rgba(195,216,37,1) 44%, rgba(206,138,12,1) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,rgba(189,249,142,1)), color-stop(44%,rgba(195,216,37,1)), color-stop(100%,rgba(206,138,12,1)));
    background: -webkit-linear-gradient(45deg, rgba(189,249,142,1) 1%,rgba(195,216,37,1) 44%,rgba(206,138,12,1) 100%);
    background: -o-linear-gradient(45deg, rgba(189,249,142,1) 1%,rgba(195,216,37,1) 44%,rgba(206,138,12,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(189,249,142,1) 1%,rgba(195,216,37,1) 44%,rgba(206,138,12,1) 100%);
    background: linear-gradient(45deg, rgba(189,249,142,1) 1%,rgba(195,216,37,1) 44%,rgba(206,138,12,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdf98e', endColorstr='#ce8a0c',GradientType=1 );
}
.tour-menu ul{
    list-style: none;
    padding: 20px;
}
.tour-menu ul li{
    font-size: 18px;
     font-family: JungleFeverRegular;
}
.tour-menu ul li a{
    color: #674300;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 30px;
    text-decoration: none;
}
.tour-menu ul li a:hover{
    color: #e1ed2c;
    text-shadow: 2px -2px #674300;
}

.additional-info{
    background-color: rgba(0,0,0,.6);
    color:#b2b875;
    padding: 20px;
    margin-left: 0!important;
    margin-right: 0!important;
}

.additional-info h2, .additional-info h3, .additional-info h4{
    color:orange;
}


@media (max-width:768px){
    .tour-detail ul li{
        font-size: 16px;
    }
}