.tour-detail{
    width: 100%;
    padding: 20px;
}
.tour-info-title{
    font-size: 13pt;
    font-weight: normal;
    font-family: JungleFeverRegular;
    color: #e1ed2c;
    text-shadow: 2px 2px #674300;
}

.tour-detail ul{

}
.tour-detail ul li{
    font-size: 12px;
    color:#674300;
}
.tour-image{
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    float: left;
    margin-right: 20px;
    width: calc(304px * 1.1);
    height: calc(171px * 1.1);
}

.tour-container{
    margin-bottom: 20px;
    text-align: justify;
}
.tour-info{
    padding: 0;
    padding-right: 10px;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 4px;
}
.tour-menu{
    background: rgb(189,249,142);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(45deg, rgba(189,249,142,1) 1%, rgba(195,216,37,1) 44%, rgba(206,138,12,1) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,rgba(189,249,142,1)), color-stop(44%,rgba(195,216,37,1)), color-stop(100%,rgba(206,138,12,1)));
    background: -webkit-linear-gradient(45deg, rgba(189,249,142,1) 1%,rgba(195,216,37,1) 44%,rgba(206,138,12,1) 100%);
    background: -o-linear-gradient(45deg, rgba(189,249,142,1) 1%,rgba(195,216,37,1) 44%,rgba(206,138,12,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(189,249,142,1) 1%,rgba(195,216,37,1) 44%,rgba(206,138,12,1) 100%);
    background: linear-gradient(45deg, rgba(189,249,142,1) 1%,rgba(195,216,37,1) 44%,rgba(206,138,12,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdf98e', endColorstr='#ce8a0c',GradientType=1 );
}
.tour-menu ul{
    list-style: none;
    padding: 20px;
}
.tour-menu ul li{
    font-size: 18px;
     font-family: JungleFeverRegular;
}
.tour-menu ul li a{
    color: #674300;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 30px;
    text-decoration: none;
}
.tour-menu ul li a:hover{
    color: #e1ed2c;
    text-shadow: 2px -2px #674300;
}

.additional-info{
    background-color: rgba(0,0,0,.6);
    color:#b2b875;
    padding: 20px;
    margin-left: 0!important;
    margin-right: 0!important;
}

.additional-info h2, .additional-info h3, .additional-info h4{
    color:orange;
}

@media (max-width:768px){
    .tour-detail ul li{
        font-size: 16px;
    }
    .tour-image{
        border-radius: 0;
        display: block;
        margin: auto;
        float: none !important;
        width: -webkit-fill-available;
        height: auto;
    }
}
@media (max-width:320px){
    .tour-image{
        border-radius: 0;
        display: block;
        margin: auto;
        float: none !important;
        width: 304px;
        height: 171px;
    }
}
.cruise-members-only-sign {
    border: 2px solid gold;
}
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

/* The ribbons */

.corner-ribbon{
  width: 170px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  z-index: 1;
}

/* Custom styles */

.corner-ribbon.sticky{
  position: absolute;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
    top: 39px;
    left: -43px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 202px;
}

/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon .fa {
    color: gold
}

/*Trying to hightlight some letters*/
.hightlight-letters {
    text-shadow: 0 0 0.3em #e1ed2c
}
.itinerary-title {
    background: rgba(0,0,0,.5);
    color: rgba(255,255,255,0.8)
}
.itinerary-title div {
    text-align: center;
    font-weight: normal;
}
.itinerary-title div:first-child {
    font-size: 23px;
    color: rgba(0,0,0,.5);
    -webkit-text-stroke-width: .4px;
    -webkit-text-stroke-color: rgba(255,255,255,0.6);
}
.itinerary-content {
    text-align-last: center
}