	<div class="col-md-12">
		 <div class="row tour-container">
		 		<div id="about-us" class="col-md-8 col-sm-12" >
                    <div class="article lead">
                        <h1>Quienes Somos</h1>
                        <p class="snippet">SOUTH AMERICANS' SECRETS , es una empresa de turismo  fundada por  guías expertos del Perú y ahora es el operador más versátil en la costa sur del Perú:</p>
                        <p> Paracas, Nazca, Ica y Arequipa, también tenemos sede en cusco y estamos listos para servirle con nuestro staff de profesionales quienes siempre estarán disponibles y listo para atender agencies de viajes del Perú y extranjeras para atenderlos  con seguridad y confianza cada llegada y salida es cuidadosamente monitoreada por nuestro personal.</p>
                        <p>SOUTH AMERICANS' SECRETS, establecida en el año 2002 hace con la misión de crear experiencias memorables en un estilo familiar y construir confianza y amistad con nuestros visitantes, con la responsabilidad social y ambiental que apunta lograr un turismo sostenible e inclusivo sabiendo que el turismo no solo es negocio es también cultura, ofrecemos Nuestra colección de experiencias a nuestros clientes como guías quienes lideran esta empresa, incluye programas a medida, viajes privados, salidas fijas, actividades regionales, viajes de interés especial. </p>
                    </div>
				</div>
				<div class="col-md-4 hidden-sm" style="margin-top:15px">
						<div class="banner-right floating-right">
			 				<div class="tour-detail">
					 			<div class="tour-info-title">South Americans' Secrets</div>
								<div>
						      <p><b>Travel Agency & Tour Operator</b></p>
						      <p><b>Amarilis Pereda & Lucio Hancco</b></p>
						      <p>St. Camino Real Mz D lt. 8 San Andrés</p>
							  <p>Inside Marina Turística "Tourist Pier", right next to Hotel San Agustín - Paracas. Open 7:30 am to 1:00 pm (Paracas)</p>
						      <p><b>Cel:</b>+51 956-481-002 / +51 947-058-508</p>
						    </div>
		 					</div>
			 			</div>
				 </div>
		 </div>
	</div>
