	<div class="col-md-12">
		 <div class="row tour-container">
		 		<div id="about-us" class="col-md-8 col-sm-12" >
                    <div class="article lead">
                        <h1>About Us</h1>
                        <p class="snippet">South Americans' Secrets is a company focused on tourism and founded by expert guides of Peru.</p>
                        <p>We are the most versatile tour guides of the south coast of Peru and operate directly in Paracas, Nazca and Arequipa. We are also based in Cusco and ready to serve with professional staff dedicated to our customers and foreign travel agents. Our experienced and knowledgable staff carefully track each and every arrival and departure and respond to our customers' needs with confidence and courtesy.</p>
                        <p>South Americans' Secrets was established in 2002 with the mission to create memorable experiences for all travelers alike. Our goal is to build trust and friendship with our guests, with social and environmental responsibility that aims to achieve sustainable and inclusive tourism. We understand that succesful experiences are about listening to our customers' needs and desires including custom programs, private travel, fixed departures, regional activities and special interest tours.</p>
                    </div>
				</div>
				<div class="col-md-4 hidden-sm" style="margin-top:15px">
						<div class="banner-right floating-right">
			 				<div class="tour-detail">
					 			<div class="tour-info-title">South Americans' Secrets</div>
								<div>
						      <p><b>Agencia de turismo y Operador de Tours</b></p>
						      <p><b>Amarilis Pereda & Lucio Hancco</b></p>
						      <p>Cal. Camino Real Mz D lt. 8 San Andrés</p>
							  <p>En la Marina Turística, a un lado del Hotel San Agustín - Paracas. Abierto desde las 7:30 am hasta la 1:00 pm (Paracas)</p>
						      <p><b>Cel:</b>+51 956-481-002 / +51 947-058-508</p>
						    </div>
		 					</div>
			 			</div>
				 </div>
		 </div>
	</div>
