<!-- index.nunjucks -->
{% extends "../layouts/layout.njk" %}

{% block content %}
<div class="row content-page" id="page-content" data-ref="about">


</div>
<script src="about.js"></script>
{% endblock %}
