<!-- index.nunjucks -->
{% extends "../layouts/layout.njk" %}

{% block content %}  
<div class="row content-page" id="page-content" data-ref="activities-cuzco">
   
  
</div>
<script src="activities.js"></script>
{% endblock %}