<!-- index.nunjucks -->
{% extends "../layouts/layout.njk" %}

{% block content %}
<div class="row content-page">
	<div class="col-md-8" id="page-content">
			<!-- last-articles container -->
	</div>
	<div class="col-md-4 banners" id="articles-banners">
	</div>
</div>
<script src="article.js"></script>
{% endblock %}
