<!-- index.nunjucks -->
{% extends "../layouts/layout.njk" %}

{% block content %}
<div class="row content-page" id="page-content" data-ref="contact">
	<div class="col-md-12">
		 <div class="row tour-container">
		 		<div class="col-md-8 col-sm-12" >
					<h3>Send us a message</h3>
					<div id="rebelchat-instance">
					</div>
				 </div>
				 <div class="col-md-4 hidden-sm">
						 <div class="banner-right floating-right tour-menu">
								<div style="margin:10px; padding:10px;">
									<h3>South Americans' Secrets</h3>
									<p>Travel Agency & Tour Operator</p>
									<p>Amarilis Pereda & Lucio Hancco</p>
									<p>Av Alan Garcia Mz. C Lt. 7 Paracas</p>
									<p><b>Cel:</b> 956-481002	<b>Nextel:</b> 116*6826</p>
									<p><b>RPM:</b> *585330 </p>
									<p><b>Skype Us:</b></p>
								</div>
						 </div>
				 </div>
		 </div>
	</div>
</div>
<script src="js/rebelchat/rebelchat.js"></script>
<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function(event) {
			const chat = new RebelChat({
				el: '#rebelchat-instance',
				mainView: false,
				serverContactLabel: "South Americans' Secrets",
				bgColor: 'inherit'
			});
		});
</script>
{% endblock %}
