{% extends "../layouts/layout.njk" %}

{% block content %}
<div class="row content-page" id="page-content" data-ref="messageboard-settings">

</div>
<script src="messageboard_settings.js"></script>
{% endblock %}
