<!-- index.nunjucks -->
{% extends "../layouts/layout.njk" %}

{% block content %}
<div class="row content-page" id="page-content" data-ref="package-machupicchu">


</div>
<script src="package.js"></script>
{% endblock %}
