<!-- index.nunjucks -->
{% extends "../layouts/layout.njk" %}

{% block content %}
<div class="row content-page" id="page-content" data-ref="callao-cuise">
	<div id="cruise-content" data-index="0">

	</div>
</div>
<script src="cruises.js"></script>
{% endblock %}
