<!-- index.nunjucks -->
{% extends "../layouts/layout.njk" %}

{% block content %}
<div class="row content-page" id="page-content" data-ref="tours-cuzco">


</div>
<script src="tours.js"></script>
{% endblock %}
