<!-- index.nunjucks -->
{% extends "../layouts/layout.njk" %}

{% block content %}  
<div class="row">
    <div class="col-md-12">
        <div class="row container-article">
            <div class="col-sm-4 col-md-4">
            <img class="article-image" style="background-image:url(images/articles/monte_sierpe_portrait.jpg);" alt="" width="100%">
            </div>
            <div class="col-sm-8 col-md-8">
            <div class="row article">
            <div class="col-md-12">
              <div class="article-title">The Best of Peru</div>
                <div class="article-subtitle">
                A treasure-trove of ancient history and natural wonders
                </div>
                <p class="text-justify">
                Peru is awash in mystique, ancient history, and natural wonders. From the highlands and the famed trek to Machu Picchu, along Peru's majestic coast that is the jewel on the crown of the Ruta del Sol, and through deep tropical jungles - Peru has it all.                </p>
            </div>

            </div>
              
            </div>
        </div>
        

    </div>
    <div class="col-md-4">
    <div class="banner-right">
            <div class="title">
                SHOWCASED TOURS 
            </div>
            <div class="gallery autoplay items-5">
                <div id="item-1" class="control-operator"></div>
                <div id="item-2" class="control-operator"></div>
                <div id="item-3" class="control-operator"></div>
                <div id="item-4" class="control-operator"></div>
                <div id="item-5" class="control-operator"></div>
                <figure class="item">
                    <div class="banner-img arequipa-tour">
                    <div class="title-banner">Arequipa</div>
                    </div>
                </figure>

                <figure class="item">
                    <div class="banner-img puno-tour">
                        <div class="title-banner">Puno Tour</div>
                    </div>
                </figure>

                <figure class="item">
                    <div class="banner-img cuzco-tour">
                    <div class="title-banner">Cuzco</div>
                    </div>
                </figure>

                <figure class="item">
                    <div class="banner-img ballestas-tour">
                        <div class="title-banner">Islas Ballestas</div>
                    </div>
                </figure>
                 <figure class="item">
                    <div class="banner-img paracas-tour">
                    </div>
                </figure>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="banner-right">
            <div class="title">
                Exciting Activities
            </div>
            <div class="gallery autoplay items-3">
                <div id="item-1" class="control-operator"></div>
                <div id="item-2" class="control-operator"></div>
                <div id="item-3" class="control-operator"></div>
                <figure class="item">
                    <div class="banner-img bike-activitie">
                    </div>
                </figure>

                <figure class="item">
                    <div class="banner-img sandboard-activitie">
                    </div>
                </figure>

                <figure class="item">
                    <div class="banner-img kitesurf-activitie">
                    </div>
                </figure>


            </div>
        </div>

    </div>
    <div class="col-md-4">
    
        <div class="banner-right">
            <div class="title">
                Videos
            </div>
            <video width="100%" controls>
                <source src="videos/video1.mp4" type="video/mp4">
                Your browser does not support the video tag. gg
            </video>
            <p style="margin-bottom:20px;"></p>
        </div>
</div>

</div>
{% endblock %}