body { font-family:courier; background-color:rgb(250,250,250); }
fieldset { margin:8px; border-radius:6px; border:1px solid black; }
fieldset > legend { font-weight:bold; font-size:20pt; border:1px solid black; padding-left:1ex; padding-right:1ex; border-radius:8px; }

fieldset > table { width:100%; background-color:#ccc; }
fieldset > table th { color:#fff; background-color:#444; font-size:8pt; padding:4px; }
fieldset > table td {}
fieldset > table td.qty     > input { width:4ex; text-align:right; }
fieldset > table td.code    > input { width:17ex;}
fieldset > table td.date    > input { width:22ex; }
fieldset > table td.desc    > input { width:44ex; }
fieldset > table td.price   > input { width:7ex; text-align:right; }
fieldset > table td.deposit > input { width:7ex;}
fieldset > table td.amount  > input { width:8ex; text-align:right; }
fieldset > table td.tools { width:80px; }

.results tbody { font-size:7pt; }
.results tbody > tr { cursor:pointer; }
.results tbody > tr:hover { background-color:rgb(250,250,250); }

.viewer tbody { font-size:8pt;}

fieldset  div.field { clear:left; margin:1ex; }
fieldset  div.field > label { width: 12em; font-size:12pt; float:left; text-align:right; display:table-cell; }
fieldset  div.field > input { display:table-cell; width:12em; border:1px solid black; padding-left:1ex; padding-right:1ex; font-size:12pt; font-weight:bold; font-family:courier; }
fieldset  div.field > input[type=submit] { width:auto;  margin-left:1ex;  }
fieldset  div.field > select { display:table-cell; width:13em; border:1px solid black; padding-left:1em; padding-right:1em; font-size:12pt; font-weight:bold; font-family:courier; }

fieldset.control { width:460px; float:left; }

fieldset.buttons { width:auto; text-align:right; float:right; margin-right:0; border:none; background-color:#eee; margin-bottom:0; }
fieldset.buttons > div { display:inline; }
fieldset.buttons input { font-size:18pt; font-family:courier; font-weight:bold; margin-top:3px; margin-bottom:3px; padding-left:1em; padding-right:1em; }

fieldset.viewer { float:left; width:786px; }
fieldset.viewer > .header > div.field { float:left; clear:none;  }
fieldset.viewer > .header > div.field > label { width:9ex; font-size:10pt; }
fieldset.viewer > .header > div.field > input { font-size:11pt; }


fieldset.results { float:left; clear:left; width:460px; }
