<!-- layout.nunjucks -->
<!DOCTYPE html>
<html lang="en">
		<head>
				<title></title>
				<meta charset="UTF-8">
				<meta name="viewport" content="width=device-width, initial-scale=1">
				<meta name="theme-color" content="#DE5A2E">
				<meta name="msapplication-navbutton-color" content="#DE5A2E">
				<meta name="apple-mobile-web-app-status-bar-style" content="#DE5A2E">
				<link rel="icon" type="image/png" href="images/tumi_square.ico" />
				<link href="css/bootstrap.min.css" rel="stylesheet">
				<link href="css/style.css" rel="stylesheet">
				<link href="css/header.css" rel="stylesheet">
				<link href="css/gallery.css" rel="stylesheet">
				<link href="css/gallery.theme.css" rel="stylesheet">
				<link href="css/slick.css" rel="stylesheet">
				<link href="css/slick.css" rel="stylesheet">
				<link href="css/popup.css" rel="stylesheet">
				<link href="css/contact.css" rel="stylesheet">
				<link href="css/backoffice.css" rel="stylesheet">
				<link href="css/messageboard.css" rel="stylesheet">
				<link href="css/about.css" rel="stylesheet">
				<link href="css/package.css" rel="stylesheet">
				<link href="css/footer.css" rel="stylesheet">
				<link href="css/article-detail.css" rel="stylesheet">
				<link href="css/reservation.css" rel="stylesheet">
				<link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
				<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
				<script src="js/bootstrap.min.js"></script>
				<script src="js/changeuri.js"></script>
		</head>
		<body>
			<div class="container-app">
				<div id="app" class="container-fluid no-gutter ">
					<header>
						{% include "../partials/header.njk" %}
					</header>
					<section class="page">
						{% block content %} {% endblock %}
					</section>
				</div>
			</div>
			<div id="background-img"></div>
			<footer id="footer" class="footer text-center">
			</footer>
			<script src="js/slick.min.js"></script>
			<script src="js/small-gallery.js"></script>
			<script src="js/popup.min.js"></script>
			<script src="menu.js"></script>
			<script src="footer.js"></script>
			<script src="https://www.jscache.com/wejs?wtype=socialButtonBubbles&amp;uniq=759&amp;locationId=6387633&amp;color=white&amp;size=rect&amp;lang=en_US&amp;display_version=2"></script>
		</body>
</html>
