 <div class="col-md-12">

    {% for item in data.activities %}
     <div class="row tour-container" id="{{ item.id }}">
        <div class="col-md-8">
          <p class="text-justify">
                <img class="article-image tour-image" style="background-image:url({{item.url_image}});" alt="" width="100%">

                <div class="article-title">{{item.title}}</div>
            <div class="article-subtitle">
                {{item.subtitle}}
            </div>
                {{item.description | safe}}
            </p>
            <div class="slick-autoplay">
              {% for image in  item.gallery %}
                <a href="{{image}}">
                  <img src="{{image}}" height="50px" width="50px"/>
                </a>
              {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="banner-right floating-right">
            <div class="tour-detail">
                <div class="tour-info-title">Include</div>
                <ul>
                    {% for inc in item.additionalData.include %}
                    <li>
                    {{inc}}
                    </li>
                    {% endfor %}
                </ul>

                <div class="tour-info-title">Not Include</div>
                <ul>
                    {% for inc in item.additionalData.notInclude %}
                    <li>
                    {{inc}}
                    </li>
                    {% endfor %}
                </ul>

                <div class="tour-info-title">Duration <small>{{ item.additionalData.duration.subtitle}}</small></div>
                <ul>
                    {% for inc in item.additionalData.duration.data %}
                    <li>
                    {{inc}}
                    </li>
                    {% endfor %}
                </ul>

                <button class="bttn-unite bttn-md bttn-warning">Reserve Tour</button>
            </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <hr/>
 <div class="row additional-info">
    <div class="col-md-12">
       <h2>Additional Information</h2>
            <ul>
                <li>All your personal information is required at the moment of your booking.</li>
                <li>Confirmation of the excursion will be received at time of booking.</li>
                <li>All tours are operated in English unless otherwise stated.</li>
            </ul>

            <h4>Travel voucher:</h4>
            <ul>
            <li>You will receive an electronic voucher via e mail once you booking is confirmed.</li>
            <li>For each confirmed booking you are required to print your electronic voucher for presentation at the start of the excursion.</li>
            <li>The electronic voucher acts a confirmation for all services you request.</li>
            </ul>

            <h4>Local operator information:</h4>
            <ul>
            <li>We will send you complete operator information, including phone numbers at your destination.</li>
            <li>Our managers select only the most experienced and reliable operators in each destination, removing the guesswork for you, and ensuring your peace of mind.</li>
            </ul>

    </div>
 </div>

</div>
