<div class="banner-right floating-right">
  <div class="title">
    Nazca Lines & South Coast
    <div class="gallery autoplay items-1">
      <div id="item-1" class="control-operator"></div>
      <figure class="item">
          <div class="banner-img nazca-lines">
          </div>
      </figure>
    </div>
    <div class="tour-info-title">2 days / 1 night</div>
    <div class="tour-info-title"><h4>$565.00 USD</h4></div>
    <div class="tour-info-title">per person from Lima transport & hotel included</div>
    <p style="font-size:14px;">
      <b>Short on time?</b> Get the most out of your vacation with <b>ease, comfort &amp; style</b>:<br>
      Flight over Nazca lines, guided tour Paracas National Reserve, excursion to Ballestas Islands, visit a winery in Ica, visit Huacachina oasis and a thrilling dune buggy. <br> The price also includes *all* transport, transfers, and fees! From your hotel in Lima!
    </p>
  </div>
</div>
