<div class="banner-right floating-right">
  <a href="packagecoast.html#package-mystery-south-coast" class="ad">
    <div class="title">
      Líneas de Nazca & Costa Sur
      <div class="gallery autoplay items-1">
        <div id="item-1" class="control-operator"></div>
        <figure class="item">
            <div class="banner-img nazca-lines">
            </div>
        </figure>
      </div>
      <div class="tour-info-title">2 días / 1 noche</div>
      <div class="tour-info-title"><h4>$565.00 USD</h4></div>
      <div class="tour-info-title">Por persona desde Lima transporte & hotel incluídos</div>
      <p style="font-size:14px;">
        <b>¿No tiene mucho tiempo disponible?</b> Disfrute de unas vacaciones enteras con <b>tranquilidad, comfort &amp; y estilo</b>:<br>
        Vuele sobre las líneas de Nazca, con un tour guíado por la Reserva Nacional de Paracas, excursiones a las Islas Ballestas, visite el viñedo en Ica, visite el oasis Huacachina y disfrute de un emocionante paseo en un vehículo rustico a través de la duna. <br> El coste también incluye *todo* transporte, transfers, y ¡gastos! Desde tu hotel en Lima.
      </p>
    </div>
  </a>
</div>
