<div class="row container-article article article-detail">
	<div class="col-md-12 no-padding">
        <img class="article-detail-image {{data.image_class}}" src="{{data.url_image}}" alt="" width="100%">
    <div class="article-title article-detail-title">
        {{data.title}}
    </div>
	<div class="article-author article-detail-author">
        {{data.date}} - {{data.author}}


<div class="share dropdown">
    <button class="btn read-more dropdown-toggle" type="button" data-toggle="dropdown">
       {{share}} <i class="fa fa-share" aria-hidden="true"></i>
    </button>
    <button class="btn read-more" type="button" onclick="changeUriPath('{{data.tour}}')">
       {{sTour}}
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
        <div id="share-buttons">
            <a href="http://www.facebook.com/sharer.php?u={{uri}}" target="_blank">
                <img src="images/facebook.png" alt="Facebook" />
            </a>
            <a href="https://plus.google.com/share?url={{uri}}" target="_blank">
                <img src="images/google.png" alt="Google" />
            </a>
            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{uri}}" target="_blank">
                <img src="images/linkedin.png" alt="LinkedIn" />
            </a>
            <a href="http://reddit.com/submit?url={{uri}}&amp;title=South Americans Secrets" target="_blank">
                <img src="images/reddit.png" alt="Reddit" />
            </a>
            <a href="https://twitter.com/share?url={{uri}}&amp;text=South%20Americans%20Secrets&amp;hashtags=southamericanssecrets" target="_blank">
                <img src="images/twitter.png" alt="Twitter" />
            </a>
        </div> 
    </ul>
</div>


    </div>
        {% if data.blockquote %}
		<blockquote class="article-blockquote article-detail-blockquote">
   			{{data.blockquote}}
   		</blockquote>
	    {% endif %}
        <div class="article-subtitle article-detail-subtitle">
			{{data.subtitle}}
	    </div>
        <p class="text-justify">	
            {{data.description}}
        </p>
	</div>
</div>

{% for item in data.blocks %}
<div class="row container-article article article-detail">
	<div class="col-md-12 no-padding">
        {% if item.url_image %}
            <img class="article-detail-image {{item.image_class}}" src="{{item.url_image}}" alt="" width="100%">
        {% endif %}
        {% if item.blockquote %}
		<blockquote class="article-blockquote article-detail-blockquote">
   			{{item.blockquote}}
   		</blockquote>
	    {% endif %}
        {% for p in item.parragraphs %}
        <p class="text-justify">	
            {{p}}
        </p>
        {% endfor %}
	</div>
</div>
{% endfor %}
{% if data.bottom %}
<div class="bottom-images-container row">
{% for image in data.bottom %}
    <div class="bottom-images col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <p class="text-justify">	
            {{image.description}}
        </p>
        <img class="bottom-image {{image.image_class}}" src="{{image.url_image}}">
    </div>
{% endfor %}
</div>
{% endif %}
{% if data.bottom2 %}
<div class="bottom-images-container row">
{% for image in data.bottom2 %}
    <div class="bottom-images col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <p class="text-justify">	
            {{image.description}}
        </p>
        <img class="bottom-image {{image.image_class}}" src="{{image.url_image}}">
    </div>
{% endfor %}
</div>
{% endif %}
<blockquote class="article-blockquote share-blockquote">
{{share_quote}} 
<div class="share dropup">
    <button class="btn read-more dropdown-toggle see-tour-btn" type="button" data-toggle="dropdown">
       {{share}} <i class="fa fa-share" aria-hidden="true"></i>
    </button>
    <button class="btn read-more see-tour-btn" type="button" onclick="changeUriPath('{{data.tour}}')">
       {{sTour}}
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
        <div id="share-buttons">
            <a href="http://www.facebook.com/sharer.php?u={{uri}}" target="_blank">
                <img src="images/facebook.png" alt="Facebook" />
            </a>
            <a href="https://plus.google.com/share?url={{uri}}" target="_blank">
                <img src="images/google.png" alt="Google" />
            </a>
            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{uri}}" target="_blank">
                <img src="images/linkedin.png" alt="LinkedIn" />
            </a>
            <a href="http://reddit.com/submit?url={{uri}}&amp;title=South Americans Secrets" target="_blank">
                <img src="images/reddit.png" alt="Reddit" />
            </a>
            <a href="https://twitter.com/share?url={{uri}}&amp;text=South%20Americans%20Secrets&amp;hashtags=southamericanssecrets" target="_blank">
                <img src="images/twitter.png" alt="Twitter" />
            </a>
        </div> 
    </ul>
</div>
</blockquote>