<div class="col-md-4 col-md-offset-4 secret-login">
    <div role="form">
        <p>Ingrese a su cuenta</p>
        <input type="text" class="form-control" id="backoffice-username" placeholder="Nombre de usuario" required="required">
        <input type="password" class="form-control" id="backoffice-password" placeholder="Contraseña" required="required">
        <button class="btn" id="backoffice-login-button" type="submit">Iniciar sesión</button>
    </div>
</div>

<div id="TA_socialButtonBubbles320" class="TA_socialButtonBubbles">
<ul id="te0BVMQy" class="TA_links bM6IjpvwyeUy">
<li id="x0bOqN" class="1nJSncgFznn">
<a target="_blank" href="https://www.tripadvisor.com/Attraction_Review-g445063-d6387633-Reviews-South_American_s_Secrets-Paracas_Ica_Region.html"><img src="https://www.tripadvisor.com/img/cdsi/img2/branding/socialWidget/20x28_green-21693-2.png"/></a>
</li>
</ul>
</div>
<script src="https://www.jscache.com/wejs?wtype=socialButtonBubbles&amp;uniq=320&amp;locationId=6387633&amp;color=green&amp;size=rect&amp;lang=en_US&amp;display_version=2"></script>