

	<div class="col-md-12">
		 <div class="row tour-container">
		 		<div id="msg-form" class="col-md-8 col-sm-12" >
					<h3>Send us a message</h3>
					<div id="contact-form">
						<div id="contact-form-instance">
    						<div class="contact-form" role="form">
        						<input type="text" class="form-control" id="form-name" placeholder="Name" required="required">
        						<input type="email" class="form-control" id="form-email" placeholder="Email" required="required">
        						<textarea class="form-control" id="form-message" placeholder="Message" rows="10" required="required"></textarea>
        						<button class="btn btn-primary btn-lg" id="send-msg"><i class="fa fa-paper-plane "></i>Send Message</button>
    						</div>
						</div>
					</div>
				 </div>
				 <div class="col-md-4 hidden-sm" style="margin-top:15px">
						<div class="banner-right floating-right">
			 				<div class="tour-detail">
					 			<div class="tour-info-title">South Americans' Secrets</div>
								<div>
						      <p><b>Travel Agency & Tour Operator</b></p>
						      <p><b>Amarilis Pereda & Lucio Hancco</b></p>
						      <p>St. Camino Real Mz D lt. 8 San Andrés</p>
							  <p>Inside Marina Turística "Tourist Pier", right next to Hotel San Agustín - Paracas.
Open 7:30 am to 1:00 pm (Paracas)</p>
						      <p><b>Cel:</b>+51 956-481-002 / +51 947-058-508</p>
						    </div>
		 					</div>
			 			</div>
				 </div>
		 </div>
	</div>
