

	<div class="col-md-12">
		 <div class="row tour-container">
		 		<div class="col-md-8 col-sm-12" >
					<h3>Send us a message</h3>
					<div id="rebelchat-instance">
					</div>
				 </div>
				 <div class="col-md-4 hidden-sm" style="margin-top:15px">
						<div class="banner-right floating-right">
			 				<div class="tour-detail">
					 			<div class="tour-info-title">South Americans' Secrets</div>
								<div>
						      <h3></h3>
						      <p>Travel Agency & Tour Operator</p>
						      <p>Amarilis Pereda & Lucio Hancco</p>
						      <p>Av Alan Garcia Mz. C Lt. 7 Paracas</p>
						      <p><b>Cel:</b> 956-481002	<b>Nextel:</b> 116*6826</p>
						      <p><b>RPM:</b> *585330 </p>
						      <p><b>Skype Us:</b></p>
						    </div>
		 					</div>
			 			</div>
				 </div>
		 </div>
	</div>
