

	<div class="col-md-12">
		 <div class="row tour-container">
		 		<div id="msg-form" class="col-md-8 col-sm-12" >
					<h3>Envíanos un mensaje</h3>
					<div id="contact-form">
						<div id="contact-form-instance">
    						<div class="contact-form" role="form">
        						<input type="text" class="form-control" id="form-name" placeholder="Nombre" required="required">
        						<input type="email" class="form-control" id="form-email" placeholder="Email" required="required">
        						<textarea class="form-control" id="form-message" placeholder="Mensaje" rows="10" required="required"></textarea>
        						<button class="btn btn-primary btn-lg" id="send-msg" type="submit"><i class="fa fa-paper-plane "></i>Enviar</button>
    						</div>
						</div>
					</div>
				 </div>
				 <div class="col-md-4 hidden-sm" style="margin-top:15px">
						<div class="banner-right floating-right">
			 				<div class="tour-detail">
					 			<div class="tour-info-title">South Americans' Secrets</div>
								<div>
						      <p><b>Agencia de turismo y Operador de Tours</b></p>
						      <p><b>Amarilis Pereda & Lucio Hancco</b></p>
						      <p>Cal. Camino Real Mz D lt. 8 San Andrés</p>
							  <p>En la Marina Turística, a un lado del Hotel San Agustín - Paracas.
Abierto desde las 7:30 am hasta la 1:00 pm (Paracas)</p>
						      <p><b>Cel:</b>+51 956-481-002 / +51 947-058-508</p>
						    </div>
		 					</div>
			 			</div>
				 </div>
		 </div>
	</div>
