<div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
  <div id="copyright">
    <b>© copyright 2012 SouthAmericansSecrets.com</b>
  </div>
</div>
<menu class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
  <li><a href="." title="Home">Home</a></li>
  <li><a href="articles.html" title="Engaging articles about Peru's history">Articles</a></li>
  <li><a href="contact.html" title="Have a question? Please contact us...">Contact</a></li>
  <li><a href="about.html">About Us</a></li>
</menu>
<div class="col-lg-3 col-md-3 payment-icons hidden-sm hidden-xs">
  <img src="images/footer/pp-acceptance-small.png" alt="PayPal Acceptance">
  <img src="images/footer/visa.jpg" alt="Visa Acceptance">
</div>
<div class="col-sm-12 col-xs-12 hidden-lg hidden-md">
  <div id="copyright">
    <b>© copyright 2012 SouthAmericansSecrets.com</b>
  </div>
</div>