<menu>
  <li><a href="." title="Home">Home</a></li>
  <li><a href="#" title="The Best of Peru - read more about Tours of Peru...">Tours of Peru</a></li>
  <li><a href="#" title="So many things to see and do...">Activities</a></li>
  <li><a href="articles.html" title="Engaging articles about Peru's history">Articles</a></li>
  <li><a href="contact.html" title="Have a question? Please contact us...">Contact</a></li>
</menu>
<div id="copyright">
  <a href="#" style="margin:10px;">
    <img src="images/footer/paypal1.jpg" width="60">
  </a>
  © copyright 2012 SouthAmericansSecrets.com
  <a href="http://www.bookingsperu.com/secure-site/southamericanssecrets" style="margin:10px;">
    <img src="images/footer/payvisa1.jpg" width="60">
  </a>
</div>
