<div class="col-md-3">
  <div id="copyright">
    <b>© copyright 2012 SouthAmericansSecrets.com</b>
  </div>
</div>
<menu class="col-md-6">
  <li><a href="." title="Home">Inicio</a></li>
  <li><a href="articles.html" title="Engaging articles about Peru's history">Articulos</a></li>
  <li><a href="contact.html" title="Have a question? Please contact us...">Contacto</a></li>
  <li><a href="about.html">About Us</a></li>
</menu>
<div class="col-md-3 payment-icons">
  <img src="images/footer/pp-acceptance-small.png" alt="PayPal Acceptance">
  <img src="images/footer/visa.jpg" alt="Visa Acceptance">
</div>
