<menu>
  <li><a href="." title="Home">Inicio</a></li>
{#  <li><a href="#" title="The Best of Peru - read more about Tours of Peru...">Tours del Perú</a></li>
  <li><a href="#" title="So many things to see and do...">Actividades</a></li>#}
  <li><a href="articles.html" title="Engaging articles about Peru's history">Articulos</a></li>
  <li><a href="contact.html" title="Have a question? Please contact us...">Contacto</a></li>
  <li><a href="about.html">About Us</a></li>
</menu>
<div id="copyright" class="row">
  <p><a href="#">
    <img src="images/footer/paypal1.jpg" width="60">
  </a>
  <b>© copyright 2012 SouthAmericansSecrets.com</b>
  <a href="http://www.bookingsperu.com/secure-site/southamericanssecrets">
    <img src="images/footer/payvisa1.jpg" width="60">
  </a></p>
</div>
