<div class="banner-right floating-right">
	<div class="title">
			TOURS DESTACADOS
	</div>
	<div class="gallery autoplay items-5">
		<div id="item-1" class="control-operator"></div>
		<div id="item-2" class="control-operator"></div>
		<div id="item-3" class="control-operator"></div>
		<div id="item-4" class="control-operator"></div>
		<div id="item-5" class="control-operator"></div>
		<figure class="item slidesX">
				<div onclick="changeUriPath('toursarequipa.html')" class="banner-img arequipa-tour">
				<div class="title-banner">Arequipa</div>
				</div>
		</figure>

		<figure class="item slidesX">
				<div onclick="changeUriPath('tourspuno.html')" class="banner-img puno-tour">
						<div class="title-banner">Puno Tour</div>
				</div>
		</figure>

		<figure class="item slidesX">
				<div onclick="changeUriPath('tourscuzco.html')" class="banner-img cuzco-tour">
				<div class="title-banner">Cuzco</div>
				</div>
		</figure>

		<figure class="item slidesX">
				<div onclick="changeUriPath('toursparacas.html#islas-ballestas')" class="banner-img ballestas-tour">
						<div class="title-banner">Islas Ballestas</div>
				</div>
		</figure>
		 <figure class="item slidesX">
				<div onclick="changeUriPath('toursparacas.html')" class="banner-img paracas-tour">
					<div class="title-banner">Islas Ballestas</div>
				</div>
		</figure>
	</div>
</div>

<div class="banner-right floating-right">
	<div class="title">
			Actividades
	</div>
	<div class="gallery autoplay items-3">
		<div id="item-1" class="control-operator"></div>
		<div id="item-2" class="control-operator"></div>
		<div id="item-3" class="control-operator"></div>
		<figure class="item slidesY">
				<div onclick="changeUriPath('toursparacas.html')" class="banner-img bike-activitie">
				</div>
		</figure>

		<figure class="item slidesY">
				<div onclick="changeUriPath('toursica.html')" class="banner-img sandboard-activitie">
				</div>
		</figure>

		<figure class="item slidesY">
			<div class="banner-img kitesurf-activitie">
			</div>
		</figure>
	</div>
</div>


<div class="banner-right floating-right">
	<div class="title">
			Videos
	</div>
	<video width="100%" class="hidden-xs hidden-sm" poster="images/thumbnail.png" controls>
		<source src="videos/video1.mp4" type="video/mp4">
		Tu explotador no soporta la etiqueta de video
	</video>
	<video width="100%" class="mobile-video hidden-md hidden-lg" onclick="responsiveVideo(this)" poster="images/thumbnail.png">
		<source src="videos/video1.mp4" type="video/mp4">
		Su explotador no soporta videos
	</video>
	<p style="margin-bottom:20px;"></p>
</div>
