<nav id="mainmenu" class="navbar  navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">South American's Secrets</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href=".">Inicio</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tours & Actividades <span class="caret"></span></a>
          <ul class="dropdown-menu multi-column columns-3">
		            <div class="row">
			            <div class="col-sm-4">
				            <ul class="multi-column-dropdown">
					            <li><span class="navbar-text">La Costa del Perú</span></li>
					            <li><a href="tourslima.html">Lima</a></li>
					            <li><a href="toursparacas.html">Paracas & Islas Ballestas</a></li>
					            <li><a href="toursica.html">Ica & Huacachina</a></li>
					            <li><a href="toursnasca.html">Lineas de Nazca</a></li>
											<li><a href="toursnorth.html">Costa Norte</a></li>

				            </ul>
			            </div>
			            <div class="col-sm-4">
				            <ul class="multi-column-dropdown">
					            <li><span class="navbar-text">Sierra</span></li>
					            <li><a href="toursarequipa.html">Arequipa</a></li>
					            <li><a href="tourspuno.html">Lago Titicaca</a></li>
					            <li><a href="tourscuzco.html">Cuzco</a></li>

				            </ul>
			            </div>
						<div class="col-sm-4">
				            <ul class="multi-column-dropdown">
					            <li><span class="navbar-text">Selva Tropical</span></li>
					            <li><a href="toursiquitos.html#tambopata-reserve">Tambopata</a></li>
					            <li><a href="toursiquitos.html#manu-reserve">Parque Nacional Manu</a></li>
				            </ul>
			            </div>
		            </div>
	            </ul>
        </li>
		<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Excursiones en tierra <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li>
							<a href="callao-cruise.html">Desde terminal de cruseros de Callao</a>
						</li>
						<li>
							<a href="paracas-cruise.html">Desde terminal portuario de Paracas</a>
						</li>
						<li>
							<a href="salaverry-cruise.html">Desde termianl de cruseros de Salaverry</a>
						</li>
					</ul>
				</li>
		{#<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Activities Peru<span class="caret"></span></a>
         <ul class="dropdown-menu multi-column columns-2">
		            <div class="row">
			            <div class="col-sm-6">
				            <ul class="multi-column-dropdown">
					            <li><span class="navbar-text">Paracas</span></li>
					            <li><a href="activities-paracas.html#biking-paracas-reserve">Bicicleta en Paracas</a></li>
					            <li><a href="activities-paracas.html#kayak-paracas-bay">Kayak en Paracas</a></li>
					            <li><a href="activities-paracas.html#islas-ballestas">Islas Ballestas</a></li>
					            <li><a href="activities-paracas.html#dune-buggy-sandboard">Dunebuggy Sandboarding</a></li>

				            </ul>
			            </div>
			            <div class="col-sm-6">
				            <ul class="multi-column-dropdown">
					            <li><span class="navbar-text">Cusco</span></li>
					            <li><a href="activities-cuzco.html#inca-bike-jungle-trek">Inca Bike & Jungle Trek</a></li>
					            <li><a href="activities-cuzco.html#inca-trail-classic-trek">Caminos del Inca clasico</a></li>
					            <li><a href="activities-cuzco.html#inca-trail-salkantay-trek">Inca Salkantay Trek</a></li>
					            <li><a href="activities-cuzco.html#white-water-rafting">Canotaje</a></li>
				            </ul>
			            </div>
		            </div>
	            </ul>
        </li>#}
		<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Paquetes Perú<span class="caret"></span></a>
         <ul class="dropdown-menu">
            <li><a href="packagecoast.html#package-mystery-south-coast">Misterios de la costa norte (2 días / 1 noche)</a></li>
						<li>
							<a href="package-machupicchu.html">Machu Picchu & El Valle secreto de los Incas</a>
						</li>
          </ul>
        </li>
	      <li><a href="articles.html">Articulos</a></li>
        <li><a href="contact.html">Contacto</a></li>
				<li><a href="about.html">About us</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
				<li>
					<div id="TA_socialButtonBubbles759" class="TA_socialButtonBubbles TA_socialButtonDesktop">
						<ul id="oUEwOcxxt" class="TA_links vFIj8ixql">
							<li id="A3oJIpK5d" class="yk9hS6S1ET5">
								<a target="_blank" href="https://www.tripadvisor.com/Attraction_Review-g445063-d6387633-Reviews-South_American_s_Secrets-Paracas_Ica_Region.html"><img src="https://www.tripadvisor.com/img/cdsi/img2/branding/socialWidget/20x28_white-21693-2.png"/></a>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<a id="change-language-link" href="#" title="English" data-lng="en">
            <span id="language-span">English</span>
						<img id="language-icon" src='images/usa_flag.png' width='25px' height='25px'/>
					</a>
				</li>
				<li>
					<div class="TA_socialButtonIcon TA_socialButtonMobile">
						<a target="_blank" href="https://www.tripadvisor.com/Attraction_Review-g445063-d6387633-Reviews-South_American_s_Secrets-Paracas_Ica_Region.html" ><i class="fa fa-tripadvisor" aria-hidden="true"></i> <span>Calificar</span></a>
					</div>
				</li>
			</ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
