{#<div class="col-md-10 col-md-offset-1 col-sm-12 messageboard-header">
    <div class="row">
        <span>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar">
                <div class="input-group-btn">
                    <button class="btn" type="submit">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </span>
        <span><button class="btn disabled"><i class="fa fa-trash-o" aria-hidden="true"></i></button></span>
        <span><button class="btn">Marcar todo como leído</button></span>
    </div>
</div>#}
<div class="col-md-10 col-md-offset-1 col-sm-12" id="messageboard">
    <div id="message-list">
    </div>
</div>