<div class="col-md-10 col-md-offset-1 col-sm-12" id="messageboard-settings">
    <div class="checkbox">
        <label><input type="checkbox" value="">Enable email notifications</label>
    </div>
    <hr>
    <h4>Email List:</h4>
    <div class="email-list">
        <ul id="email_list">
            <li>
                limopablo@gmail.com
            </li>
            <li>
                test-email@gmail.com
            </li>
        </ul>
    </div>
    <div class="add-email">
        <div class="input-group">
            <input type="email" class="form-control" id="settings-email" placeholder="example@example.com">
            <div class="input-group-btn">
                <button class="btn" id="add-email-btn" type="submit">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <p id="settings-warn-email" class="settings-warn settings-warn-hidden">*Invalid email address*</p>
</div>