<div class="col-md-10 col-md-offset-1 col-sm-12 messageboard-header">
    <div class="row">
        <span>
            <div class="input-group">
                <div class="input-group-btn">
                    <button class="btn" type="submit" onclick="changeUriPath('messageboard.html')">
                        Ver mensajes
                    </button>
                </div>
            </div>
        </span>
        <span><button class="btn btn-cog" onclick="changeUriPath('messageboard-settings.html')"><i class="fa fa-cog" aria-hidden="true"></i></button></span>
        {#<span><button class="btn">Mark all as Read</button></span>#}
    </div>
</div>
<div class="col-md-10 col-md-offset-1 col-sm-12" id="messageboard">
    <div id="message-list" class="reservation-list">
    </div>
</div>