 <div class="col-md-12">
	<div class="row tour-container">
		<div class="col-md-8 col-sm-12 white">
			<img class="article-image tour-image" src="{{data.url_image}}" alt="" width="100%">
			<p class="text-justify">
				<div class="article-title">{{data.title}}</div>
				<div class="article-subtitle">
					{{data.subtitle}}
				</div>
				<p style="padding: 0 15px; ">
					{{data.description}}
				</p>
			</p>
		</div>
		<div class="col-md-4 hidden-sm hidden-xs">
					 <div class="banner-right floating-right tour-menu">
							 <ul>
									 {% for item in data.tours %}
									 <li><a href="#{{item.id}}">{{item.shortTitle}}</a></li>
									 {% endfor %}
									 <li><a href="#additional-info">Additional Information</a></li>
							 </ul>
					 </div>
		</div>
	</div>

		{% for item in data.tours %}
		 <div class="row tour-container {{item.classes}}" >
				<div class="col-md-8 tour-info">
				{% if item.classes %}
            		<div class="corner-ribbon top-left sticky orange shadow"><i class="fa fa-ship" aria-hidden="true"></i> Miembros de crucero</div>
        		{% endif %}
					<p class="text-justify">
								<img class="tour-image" src="{{item.url_image}}" alt="">

								<div class="article-title" id="{{item.id}}">{{item.title}}</div>
						<div class="article-subtitle">
								{{item.subtitle}}
						</div>
						<p style="padding: 0 15px; ">
							{{item.description | safe}}
						</p>
					</p>
					<div class="slick-autoplay">
						{% for image in	item.gallery %}
							<a href="{{image}}">
								<img src="{{image}}" height="50px" width="50px"/>
							</a>
						{% endfor %}
					</div>
					{% if item.certs %}
					<div class="spacer">
						<h3>Certificados de excelencia</h3>
						<div class="certs">
							{% for cert in item.certs %}
								<img src="{{cert}}">
							{% endfor %}
						</div>
					</div>
					{% endif %}
				</div>
				<div class="col-md-4">
						<div class="banner-right floating-right">
						<div class="tour-detail">
								{% if item.yacht %}
									<img src="images/{{item.yacht}}" align="right" width="60" style="margin-top: -22.5px; margin-right: -32.5px">
								{% endif %}
								{% if item.additionalData.activities %}
                    <div class="tour-info-title">Actividades</div>
                    <ul>
                    {% for activity in item.additionalData.activities %}
                        <li>
                        {{activity}}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
								<div class="tour-info-title">Incluye</div>
								<ul>
										{% for inc in item.additionalData.include %}
										<li>
										{{inc}}
										</li>
										{% endfor %}
								</ul>

								<div class="tour-info-title">No Incluye</div>
								<ul>
										{% for inc in item.additionalData.notInclude %}
										<li>
										{{inc}}
										</li>
										{% endfor %}
								</ul>

								<div class="tour-info-title">Duración <small>{{ item.additionalData.duration.subtitle}}</small></div>
								<ul>
										{% for inc in item.additionalData.duration.data %}
										<li>
										{{inc}}
										</li>
										{% endfor %}
								</ul>

                <div class="tour-info-title">{{ "Precio base:" if item.additionalData.price.base_price else "Precio:" }} <small>{{ item.additionalData.price.currency}}{{item.additionalData.price.ammount}}{{' por hora' if item.additionalData.price.per_hour else ''}}</small></div>
								<ul>
										{% for inc in item.additionalData.price.data %}
										<li>
										{{inc}}
										</li>
										{% endfor %}
								</ul>

								<button class="bttn-unite bttn-md bttn-warning" data-toggle="modal" data-target="#{{item.id}}-modal">Reservar Tour</button>

<div class="share dropdown share-tours">
    <button class="btn read-more dropdown-toggle" type="button" data-toggle="dropdown">
       {{share}} <i class="fa fa-share" aria-hidden="true"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
        <div id="share-buttons">
            <a href="http://www.facebook.com/sharer.php?u={{uri}}#{{item.id}}" target="_blank">
                <img src="images/facebook.png" alt="Facebook" />
            </a>
            <a href="https://plus.google.com/share?url={{uri}}#{{item.id}}" target="_blank">
                <img src="images/google.png" alt="Google" />
            </a>
            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{uri}}#{{item.id}}" target="_blank">
                <img src="images/linkedin.png" alt="LinkedIn" />
            </a>
            <a href="http://reddit.com/submit?url={{uri}}#{{item.id}}&amp;title=South Americans Secrets" target="_blank">
                <img src="images/reddit.png" alt="Reddit" />
            </a>
            <a href="https://twitter.com/share?url={{uri}}#{{item.id}}&amp;text=South%20Americans%20Secrets&amp;hashtags=southamericanssecrets" target="_blank">
                <img src="images/twitter.png" alt="Twitter" />
            </a>
        </div> 
    </ul>
</div>

						</div>
						</div>
				</div>
		</div>
    	<!-- Modal -->
    <div id="{{item.id}}-modal" class="rsv-modal-only modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">{{item.form_title or item.title}}</h3>
                    <div class="price-holder"><span class="form_price">{{item.additionalData.price.ammount}}{{item.additionalData.price.currency}}</span><span> por persona</span></div>
                </div>
                <div class="modal-body">
					<input type="hidden" id="rsv-tour-info" value="{{item.title}}" tour-id="{{item.id}}">
					<input type="hidden" id="rsv-lang" value="es">
                    <div class="reservation-subtitle">Reservación de tour</div>
                    <div class="form-inputs"><input type="text" class="rsv-input" id="rsv-name" placeholder="Nombre*"></div>
                    <div class="input-group date-input-group">
                        <span class="input-group-addon">Fecha*</span>
                        <input type="date" id="rsv-date" class="form-control rsv-date" name="date">
                    </div>
                    <div class="form-inputs"><input id="rsv-people" placeholder="N° personas*" class="rsv-input" type="number"></div>
                    <div class="form-inputs"><input id="rsv-email" placeholder="Correo Electrónico*" class="rsv-input rsv-email" type="email"></div>
					<div class="input-group">
						<span class="input-group-addon">Forma de pago*</span>
						<select id="rsv-payment" class="form-control">
							<option value="visa-credit">Visa crédito</option>
							<option value="visa-debit">Visa débito</option>
							<option value="paypal">Paypal</option>
							<option value="bank-transfer">Transferencia bancaria</option>
						</select>
					</div>
                    <div class="form-inputs"><textarea id="rsv-notes" class="rsv-notes" placeholder="Notas de su reservación"></textarea></div>
					<p id="rsv-warn" class="rsv-warn-regular rsv-warn rsv-warn-hidden">*Solicitud inválida, debe llenar todos los campos obligatorios*</p>
					<p id="rsv-warn-email" class="rsv-warn rsv-warn-hidden">*Dirección de correo electrónico inválida*</p>
                </div>
                <div class="modal-footer">
                    <button type="button" parent-modal="{{item.id}}-modal" id="request-reservation" class="request-reservation btn btn-default request-btn"><i class="fa fa-envelope-o" aria-hidden="true"></i>  Solicitar Reservación</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
          </div>
        </div>
    </div>
		{% endfor %}
    <!-- Modal -->
    <div id="sent-reservation" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-check" aria-hidden="true"></i> Solicitud Enviada</h3>
                    <div class="price-holder"><span class="form_price">Pronto lo contactaremos</span></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default request-btn" data-dismiss="modal">Ok</button>
                </div>
          </div>
        </div>
    </div>
		<hr/>
 <div class="row additional-info">
		<div class="col-md-12">
			<h2 id="additional-info">Información Adicional</h2>
			<ul>
					<li>Se requiere toda su información personal en el momento de su reserva.</li>
					<li>La confirmación de la excursión será recibido en el momento de la reserva.</li>
					<li>Todos los tours son operados en español a menos que se indique lo contrario.</li>
			</ul>

			<h4>Voucher de Viaje:</h4>
			<ul>
				<li>Usted recibirá un voucher electrónico a través de correo electrónico una vez que se confirma la reserva.</li>
				<li>Para cada reserva confirmada se le requiere para imprimir el voucher electrónico para la presentación al inicio de la excursión.</li>
				<li>El voucher electrónico actúa como una confirmación de todos los servicios que usted solicitó.</li>
			</ul>

			<h4>Información del operador local:</h4>
			<ul>
				<li>Le enviaremos la información completa del operador, incluyendo los números de teléfono en su destino.</li>
				<li>Nuestros gestores solo seleccionan a los operadores más fiables y expertos en cada destino, para ahorrarle trabajo a usted, y que garanticen su tranquilidad.</li>
			</ul>

		</div>
 </div>

</div>
