<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>South American's Secrets</title>
	<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
	<!--global vars with the data-->
	<script>
		window.menuData = {{ site.data.menu.index | jsonify }};
		window.lastNews = {{ site.data.home.index | jsonify }};
		window.utils = {{ site.data.util | jsonify }};
	</script>
</head>
<body>
	<section class="content">
		<!--generate the web-component by Metaflux-->
	</section>
	<div id="background-img"></div>
	<!--                ADD METAFLUX                                                -->
	<script type="text/javascript" src="assets/js/bundle.js" charset="utf-8"></script>
</body>
</html>